body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 50;
    width: 20%;
    margin: auto;
}
li {
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #878282;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px #878282; 
}
li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    
}
li a:hover {
    color: #007bff;
}
li a.active {
    background-color: #007bff;
    color: #fff;
}
audio {
    width: 50%;
    margin: 0 auto;
    display: block;
}
img {
    width: 20%;
    border-radius: 50%;
    margin-top: 14px;
}
